html, body {
    font-family: sans-serif; /* fallback value */
    height: 100%; /* Essential for percentage heights to work correctly */
    margin: 0;
    padding: 0;
}

.timeline_with_button {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0; 
}

.edit-button {
    display: none; /* Only visible on hover */
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FF4081; /* A more toned-down shade of pink */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1500;
    box-shadow: 0 0 15px rgba(255, 64, 129, 0.5); /* Softening the shadow */
    border: medium solid #f6cb4a;
    animation: pulsate 1.5s infinite ease-in-out; /* Subtle pulsation */
}

.edit-button:hover {
    background-color: #E91E63; /* A different hover color */
    transform: scale(1.05); /* Smaller scale increase */
    box-shadow: 0 0 20px rgba(233, 30, 99, 0.8); /* Intensifying the shadow on hover */
}

.timeline_with_button:hover .edit-button {
    display: flex;
}

.timeline {
    container-type: size;
    color: #fff; 
    line-height: normal; 
    text-align: center; 
    height: calc(50vh - 20px); /* fallback-value */
}
.timeline-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100cqh;
    aspect-ratio : 1 / 1;
    border-radius: 10px;
    background-color: #4b5365;
    margin: 20px 10px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}
.timeline-item .title, .timeline-item .description {
    display: block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}
.timeline-item .date {
  font-size: 8cqh; /* fallback value */
  position: absolute;
  top: 10px;
  right: 15px;
}
.timeline-item .title {font-size: 12cqh; margin-top: 5px;} /* fallback value */
.timeline-item .description {font-size: 10cqh;} /* fallback value */
.timeline-item.cake { 
    background: linear-gradient(135deg, #FF8A65, #FF7043); /* Warmer and brighter shades of orange */
    background-color: #FF8A65; /* this is used when blending an img */
}
.timeline-item.release { 
    background: linear-gradient(135deg, #42A5F5, #1E88E5); /* Brighter shades of blue */
    background-color: #42A5F5; /* this is used when blending an img */
}
.timeline-item.birthday { 
    background: linear-gradient(135deg, #AED581, #7CB342); /* Lively shades of green */
    background-color: #AED581; /* this is used when blending an img */
}
.timeline-item.custom { 
    background: linear-gradient(135deg, #4DD0E1, #26C6DA); /* Vibrant teal shades */
    background-color: #4DD0E1; /* this is used when blending an img */
}
.timeline-item.past { 
    background: linear-gradient(135deg, #5c6370, #434A54); /* Light Slate Gray to Darker Slate Gray */
    background-color: #5c6370; /* this is used when blending an img */
}
.timeline-item.highlight {
    animation: pulsateShadow 1s infinite ease-in-out;
}
.timeline-item.with-img {
    /* Styles background-image of timeline-items */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.timeline-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 10cqh;
}
.timeline-item.cake::before { content: "🍰"; animation: pulse 2s infinite ease-in-out; }
.timeline-item.birthday::before { content: "🥳"; animation: shake-tilt 2s infinite ease-in-out; }
.timeline-item.release::before { content: "🚀"; animation: float 3s infinite ease-in-out; }
.timeline-item.past::before { filter: grayscale(100%); animation: none;}

.timeline-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20cqh;
    height: 20cqh;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: blue;
    border-radius: 0 0 10px 0;
    box-sizing: border-box;
}

.timeline-item a::before {
    content: "🔗";
    position: absolute;
    bottom: .5cqh;
    right: .5cqh;
    font-size: 10cqh;
    color: white;
    z-index: 3;
}

@keyframes float { 0%, 100% { transform: translateY(0); } 50% { transform: translateY(-3px); }}
@keyframes pulse { 0% { transform: scale(1); } 50% { transform: scale(1.2); } 100% { transform: scale(1); }}
@keyframes shake-tilt { 0%, 50%, 100% { transform: translateX(0) rotate(0); } 30%, 70% { transform: translateX(2px) rotate(5deg); }}
@keyframes fadeInUp { from { opacity: 0; transform: translateY(20px); } to { opacity: 1; transform: translateY(0); }}
@keyframes pulsateShadow { 0%, 100% { box-shadow: 0 0 8px 0 orangered } 50% { box-shadow: 0 0 11px 3px orangered }}
@keyframes pulsate {0%, 100% { transform: scale(1); } 50% { transform: scale(1.08); }}

.timeline-item.cancelled .title {
    text-decoration: line-through; /* Strikethrough for the title */
}

.timeline-item.cancelled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('cracked-glass.svg'); /* Path to the SVG file */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: .7;
}