<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendarium: Timeline</title>
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='favicon/favicon.icns') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}" type="image/x-icon">

    <!-- Flickity provides timeline functionality -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timeline/flickity.css') }}">

    <!-- Project specific styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timeline/style.css') }}">

    <!-- Inline style to handle dynamic height and font family -->
    <style>
        html, body {
            font-family: {{ font_family }};
        }
        .timeline {
            height: {{ timeline_height }};
        }
        .timeline-item .date {font-size: calc(8cqh * {{ font_scale }});}
        .timeline-item .title {font-size: calc(12cqh * {{ font_scale }});}
        .timeline-item .description {font-size: calc(10cqh * {{ font_scale }});}
    </style>
</head>
<body>

    <!-- Timeline with optional edit button -->
    <div class="timeline_with_button">
        <a href="{{ url_for('index') }}" target="_blank" class="edit-button">✏️</a>

        <!-- Timeline container with Flickity options -->
        <div class="timeline" data-flickity='{"initialIndex": ".initial-focus", "cellAlign": "left", "pageDots": false, "contain": true, "resize": false}'>
            {% for entry in entries %}
                {% set date_class = "highlight" if entry.is_today else ("past" if entry.index < 0 else "") %}
                {% set initial_focus = "initial-focus" if entry.index == -2 else "" %}
                {% set cancelled_class = "cancelled" if entry.cancelled else "" %}
                {% if date_class == "past" %}
                    {% set background_style = "background: linear-gradient(135deg, #5c6370, #434A54); background-color: #5c6370;" %}
                {% else %}
                    {% set background_style = "background: linear-gradient(135deg, " ~ entry.category.color_hex ~ ", " ~ entry.category.color_hex_variation ~ "); background-color: " ~ entry.category.color_hex ~ ";" %}
                {% endif %}
                {% if entry.image_url %}
                    {% set img_class = "with-img" %}
                    {% set img_style = "background-image: url('" + entry.image_url + "');" %}
                {% else %}
                    {% set img_class = "" %}
                    {% set img_style = "" %}
                {% endif %}
                {% set filter_style = "filter: grayscale(100%);" if date_class == "past" else "" %}
                <div class="timeline-item {{ date_class }} {{ initial_focus }} {{ img_class }} {{ cancelled_class }}" style="{{ background_style }} {{ img_style }} {{ filter_style }}">
                    <span class="symbol {{ entry.category.name }}">{{ entry.category.symbol }}</span>
                    <span class="date">{{ entry.date_formatted }}</span>
                    <span class="title">{{ entry.title }}</span>
                    {% if entry.description %}
                        <span class="description">{{ entry.description }}</span>
                    {% endif %}
                    {% if entry.url %}
                        <a href="{{ entry.url }}" target="_blank"></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Flickity script always included -->
    <script type="text/javascript" src="{{ url_for('static', filename='timeline/flickity.pkgd.min.js') }}"></script>

    <!-- Conditional inclusion of confetti script -->
    {% if display_celebration %}
        <script type="text/javascript" src="{{ url_for('static', filename='timeline/confetti.js') }}"></script>
    {% endif %}
</body>
</html>