<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendarium: Timeline</title>

    <!-- Flickity provides timeline functionality -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timeline/flickity.css') }}">

    <!-- Project specific styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timeline/style.css') }}">

    <!-- Inline style to handle dynamic height and font family -->
    <style>
        html, body {
            font-family: {{ font_family }}; /* Use the font-family value passed from Flask */
        }
        .timeline {
            height: {{ timeline_height }}; /* Use the height value passed from Flask */
        }
        .timeline-item .date {font-size: calc(8cqh * {{ font_scale }});}
        .timeline-item .title {font-size: calc(12cqh * {{ font_scale }});}
        .timeline-item .description {font-size: calc(10cqh * {{ font_scale }});}
    </style>
</head>
<body>

    <!-- Timeline with optional edit button -->
    <div class="timeline_with_button">
        <a href="{{ url_for('index') }}" target="_blank" class="edit-button">✏️</a>

        <!-- Timeline container with Flickity options -->
        <div class="timeline" data-flickity='{"initialIndex": ".initial-focus", "cellAlign": "left", "pageDots": false, "prevNextButtons": false, "contain": true, "resize": false}'>
            <!-- Loop through entries to display timeline items -->
            {% for entry in entries %}

            {% set date_class = "highlight" if entry.isToday else ("past" if entry.index < 0 else "") %}
                {% set initial_focus = "initial-focus" if entry.index == -2 else "" %}
                {% set img_class = "with-img" if entry.image_url else "" %}
                {% set img_style = "background-image: url('" + entry.image_url + "');" if entry.image_url else "" %}
                <div class="timeline-item {{ entry.category }} {{ date_class }} {{ initial_focus }} {{ img_class }}" style="{{ img_style }}">
                    <span class="date">{{ entry.date_formatted }}</span>
                    <span class="title">{{ entry.title }}</span>
                    {% if entry.description %}
                        <span class="description">{{ entry.description }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Script to conditionally hide the edit button based on url -->
    <script>
        function maybeHideEditButton() {
            var editButton = document.querySelector('.edit-button');
            var urlParams = new URLSearchParams(window.location.search);

            if (urlParams.has('kiosk')) {
                editButton.style.display = 'none'; // Hide the edit button
            } 
        }
        maybeHideEditButton();
    </script>

    <!-- Scripts for Flickity and optional confetti animation -->
    <script type="text/javascript" src="{{ url_for('static', filename='timeline/flickity.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timeline/confetti.js') }}"></script>
</body>
</html>