body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-image: radial-gradient(#9395b6 0.55px, #ffffff 0.55px);
    background-size: 11px 11px;
    background-attachment: fixed;
}

h1 {
    position: fixed;
    top: 20px;
    margin: 0;
    color: #ccc;
    z-index: -1;
}

a {
    text-decoration: none;
}

.entry-form {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-section label {
    display: flex;
    margin-bottom: 4px;
    font-weight: bold;
    flex: 1; /* Allows the label to take up the maximum width */
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 100px;
    resize: vertical;
}

.form-section label.required::after {
    content: "required";
    color: #E2D0D0;
    font-style: italic;
    font-size: smaller;
    text-align: right; /* Aligns the text to the right */
    width: 100%; /* Full width to push it to the edge */
  }

.category-group, .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    align-items: center;
}

.category-group label input[type="radio"] {
    align-self: center; /* This ensures the radio is aligned in the center vertically within its label */
}

.checkbox-group label input[type="checkbox"] {
    align-self: center; 
    margin-right: 5px;
}

input[type="text"], input[type="file"], input[type="date"], input[type="url"] {
    width: 100%;
    padding: 6px;
    margin: 4px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.create-button {
    display: block;
    width: 70%;
    margin: 20px auto 0;
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
}

.create-button:hover {
    background-color: #367C2B; /* A darker shade of green for the hover state */
}

input[type="radio"] {
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    table-layout: fixed; /* Ensures even spacing */
}

th, td {
    border: 1px solid #ddd;  /* Light gray border */
    padding: 8px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

td textarea {
    width: 100%;
    min-height: 60px;
    padding: 6px;
    border: 1px solid #ddd;
    resize: vertical;
}

.centered {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for alternate rows */
}

img {
    max-width: 100px; /* Limit the width of the image */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 4px; /* Rounded corners for the image */
    border: 1px solid #ddd; /* Light gray border around images */
}

.gif-image {
    transition: all 0.3s;
    margin: 5px;
}

.gif-image.selected {
    filter: none;
    border-style: solid;
    border-color: red;
    opacity: 1;
}

.gif-image.not-selected {
    filter: grayscale(100%);
    opacity: .5;
}

button.edit, button.cancel-restore, button.delete {
    background-color: #008CBA; /* Blue for edit */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    margin: 1px 0px;
    display: block;
    width: 100%;
    margin-top: 5px;
}

button.delete {
    background-color: #f44336; /* Red for delete */
}

.maintenance-panel {
    margin-top: 20px;
    text-align: center;
    background-color: #f9f9f9; /* Lighter gray background for panel */
    padding: 10px;
    width: 100%;
    display: inline-block;
}

.maintenance-panel form,
.maintenance-panel button {
    display: inline;
    margin-right: 10px;
}

.maintenance-panel .maintenance {
    background-color: #af9c4c;
}
