<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calendarium</title>
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="{{ url_for('static', filename='favicon/favicon.ico', _external=True) }}">
    <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='favicon/favicon.icns', _external=True) }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png', _external=True) }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style.css') }}">
    <script src="{{ url_for('static', filename='admin/sort-table.js') }}"></script>

    <script type="text/javascript">
        // This is necessary to use the url in the external script.
        var getGiphyUrlUrl = "{{ url_for('get_giphy_url') }}";
        var attributionImg = "{{ url_for('static', filename='admin/giphy_attribution.png') }}";
    </script>

</head>

<body>
    <h1>Events</h1>
    <form class="entry-form" id="entry-form" action="{{ url_for('create') }}" method="post" 
    enctype="multipart/form-data">
        <div class="form-section">
            <label class="required">Date:</label>
            <input type="date" name="date" required>
        </div>
        <div class="form-section">
            <label class="required"><a href="{{ url_for('categories') }}">Category:</a></label>
            <div class="category-group">
                {% for category in categories %}
                    <label><input type="radio" name="category" value="{{ category.name }}" required>{{ category.symbol }} {{ category.name }}</label>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-section">
            <label class="required">Title:</label>
            <input type="text" name="title" required>
        </div>
        <div class="form-section">
            <label>Description:</label>
            <input type="text" name="description">
        </div>
        <div class="form-section">
            <label>URL:</label>
            <input type="url" name="url">
        </div>
        <div class="form-section">
            <label>Image:</label>
            <input type="file" name="entryImage" accept="image/png, image/jpeg, image/gif">
        </div>
        <div class="form-section" id="giphySearchSection" style="display: none;"> <!-- Initially hidden -->
            <label>GIF:</label>
            <input type="text" id="giphySearchInput" placeholder="Search GIFs">
            <input type="hidden" id="hiddenGiphyUrl" name="giphyUrl">
            <div id="giphySearchResults"></div>
        </div>
        <input type="submit" value="Create Entry" class="submit-button create-button" id="submit-button">
    </form>

    <!-- Table to display entries -->
    <table id="sortableTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Date</th>
                <th onclick="sortTable(1)">Category</th>
                <th onclick="sortTable(2)">Title</th>
                <th onclick="sortTable(3)">Description</th>
                <th onclick="sortTable(4)">URL</th>
                <th onclick="sortTable(5)">Image</th>
                <th onclick="sortTable(6)">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td class="nowrap">{{ entry.date }}</td>
                <td class="centered">
                    <span title="{{ entry.category.name }}">{{ entry.category.symbol }}</span>
                </td>
                <td>{{ entry.title }}</td>
                <td>{{ entry.description|default('', true) }}</td>
                <td class="centered">
                    {% if entry.url %}
                    <a href="{{ entry.url }}" target="_blank">🔗</a>
                    {% endif %}
                </td>
                <td>
                    {% if entry.image_url %}
                    <img src="{{ entry.image_url }}" alt="User uploaded image">
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('update', id=entry.id) }}" method="get" style="display: inline;">
                        <button type="submit" class="edit">Edit</button>
                    </form>
                    <form action="{{ url_for('toggle_cancelled', id=entry.id) }}" method="post" style="display: inline;">
                        <button type="submit" class="cancel-restore">
                            {{ 'Restore' if entry.cancelled else 'Cancel' }}
                        </button>
                    </form>
                    <form action="{{ url_for('delete', id=entry.id) }}" method="post" style="display: inline;">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="maintenance-panel">
        <form action="{{ url_for('timeline') }}" method="get">
            <button type="submit">Go to Timeline View</button>
        </form>
        <form action="{{ url_for('categories') }}" method="get">
            <button type="submit">Manage Categories</button>
        </form>
        <form action="{{ url_for('api_data') }}" method="get">
            <button class="maintenance" type="submit">Download JSON Data</button>
        </form>
        <form action="{{ url_for('export_data') }}" method="get">
            <button class="maintenance" type="submit">Export Data as ZIP</button>
        </form>
        <form action="{{ url_for('purge_old_entries') }}" method="post">
            <button class="maintenance" type="submit">Remove Old Entries</button>
        </form>
        <form action="{{ url_for('update_serial_entries') }}" method="post">
            <button class="maintenance" type="submit">Update Serial Entries</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='admin/search_gifs_proxied.js') }}"></script>
</body>
</html>