<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style.css') }}">
    <script src="{{ url_for('static', filename='admin/sort-table.js') }}"></script>

    <script type="text/javascript">
        // This is necessary to use the url in the external script.
        var getGiphyUrlUrl = "{{ url_for('get_giphy_url') }}";
        var attributionImg = "{{ url_for('static', filename='admin/giphy_attribution.png') }}";
    </script>

</head>
<body>
    <form class="entry-form" action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
        <div class="form-section">
            <label>Date:</label>
            <input type="date" name="date" required>
        </div>
        <div class="form-section">
            <label>Category:</label>
            <div class="category-group">
                <label><input type="radio" name="category" value="cake" required>🍰 Cake</label>
                <label><input type="radio" name="category" value="birthday">🥳 Birthday</label>
                <label><input type="radio" name="category" value="release">🚀 Release</label>
                <label><input type="radio" name="category" value="custom">✨ Custom</label>
            </div>
        </div>
        <div class="form-section">
            <label>Title:</label>
            <input type="text" name="title" required>
        </div>
        <div class="form-section">
            <label>Description:</label>
            <input type="text" name="description">
        </div>
        <div class="form-section">
            <label>Image:</label>
            <input type="file" name="entryImage" accept="image/png, image/jpeg, image/gif">
        </div>
        <div class="form-section" id="giphySearchSection" style="display: none;"> <!-- Initially hidden -->
            <label>GIF:</label>
            <input type="text" id="giphySearchInput" placeholder="Search GIFs">
            <input type="hidden" id="hiddenGiphyUrl" name="giphyUrl">
            <div id="giphySearchResults"></div>
        </div>        
        <input type="submit" value="Create Entry" class="submit-button create-button">
    </form>

    <!-- Table to display entries -->
    <table id="sortableTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Date</th>
                <th onclick="sortTable(1)">Category</th>
                <th onclick="sortTable(2)">Title</th>
                <th onclick="sortTable(3)">Description</th>
                <th onclick="sortTable(4)">Image</th>
                <th onclick="sortTable(5)">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td class="nowrap">{{ entry.date }}</td>
                    <td class="centered">
                        {% if entry.category == 'cake' %}
                            <span title="Cake">🍰</span>
                        {% elif entry.category == 'birthday' %}
                            <span title="Birthday">🥳</span>
                        {% elif entry.category == 'release' %}
                            <span title="Release">🚀</span>
                        {% elif entry.category == 'custom' %}
                            <span title="Custom">✨</span>
                        {% else %}
                            {{ entry.category }}
                        {% endif %}
                    </td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.description|default('', true) }}</td>
                    <td>
                        {% if entry.image_filename %}
                            <img src="{{ url_for('uploaded_file', filename=entry.image_filename) }}" alt="User uploaded image">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                    <td>
                        <!-- Form for editing an entry -->
                        <form action="{{ url_for('update', id=entry.id) }}" method="get" style="display: inline;">
                            <button type="submit" class="edit">Edit</button>
                        </form>
                        <!-- Form for deleting an entry -->
                        <form action="{{ url_for('delete', id=entry.id) }}" method="post" style="display: inline;">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Maintenance panel with links for additional actions -->
    <div class="maintenance-panel">
        <!-- Form for visiting timeline view -->
        <form action="{{ url_for('timeline') }}" method="get">
            <button type="submit">Go to Timeline View</button>
        </form>
        <!-- Button to Download JSON Data -->
        <form action="{{ url_for('api_data') }}" method="get">
            <button type="submit">Download JSON Data</button>
        </form>
        <!-- Button to Export Data as ZIP -->
        <form action="{{ url_for('export_data') }}" method="get">
            <button type="submit">Export Data as ZIP</button>
        </form>
        <!-- Form for removing old entries -->
        <form action="{{ url_for('purge_old_entries') }}" method="post">
            <button type="submit">Remove Old Entries</button>
        </form>
        <!-- Form for updating birthdays -->
        <form action="{{ url_for('update_birthdays') }}" method="post">
            <button type="submit">Update Birthdays</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='admin/search_gifs_proxied.js') }}"></script>

</body>
</html>
