<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendarium: Update Entry</title>
    <!-- Linking the stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style.css') }}">

    <script type="text/javascript">
        // This is necessary to use the url in the external script.
        var getGiphyUrlUrl = "{{ url_for('get_giphy_url') }}";
        var attribution_img = "{{ url_for('static', filename='giphy_attribution.gif') }}";
    </script>

</head>
<body>
    <form class="entry-form" action="{{ url_for('update', id=entry.id) }}" method="post" enctype="multipart/form-data">
        <div class="form-section">
            <label>Date:</label>
            <input type="date" name="date" required value="{{ entry.date }}">
        </div>
        <div class="form-section">
            <label>Category:</label>
            <div class="category-group">
                <label><input type="radio" name="category" value="cake" {% if entry.category == 'cake' %} checked {% endif %} required>🍰 Cake</label>
                <label><input type="radio" name="category" value="birthday" {% if entry.category == 'birthday' %} checked {% endif %}>🥳 Birthday</label>
                <label><input type="radio" name="category" value="release" {% if entry.category == 'release' %} checked {% endif %}>🚀 Release</label>
                <label><input type="radio" name="category" value="custom" {% if entry.category == 'custom' %} checked {% endif %}>✨ Custom</label>
            </div>
        </div>
        <div class="form-section">
            <label>Title:</label>
            <input type="text" name="title" required value="{{ entry.title }}">
        </div>
        <div class="form-section">
            <label>Description:</label>
            <input type="text" name="description" value="{{ entry.description|default('', true) }}">
        </div>
        <div class="form-section">
            <label>Image:</label>
            <input type="file" name="entryImage" accept="image/png, image/jpeg, image/gif">
        </div>
        <div class="form-section">
            <label>GIF:</label>
            <input type="text" id="giphySearchInput" placeholder="Search GIFs">
            <input type="hidden" id="hiddenGiphyUrl" name="giphyUrl">
            <div id="giphySearchResults"></div>
        </div>
        <!-- Conditional checkbox for removing the image -->
        {% if entry.image_filename %}
            Current Image: <img src="{{ url_for('uploaded_file', filename=entry.image_filename) }}" alt="Current Image"><br>
            Remove Image: <input type="checkbox" name="remove_image" value="1"> Remove current image<br>
        {% endif %}
        <input type="submit" value="Update Entry" class="submit-button create-button">
    </form>

    <script src="{{ url_for('static', filename='admin/search_gifs_proxied.js') }}"></script>

</body>
</html>
