<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendarium: Update Entry</title>
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='favicon/favicon.icns') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style.css') }}">
    <script type="text/javascript">
        var getGiphyUrlUrl = "{{ url_for('get_giphy_url') }}";
        var attribution_img = "{{ url_for('static', filename='giphy_attribution.gif') }}";
    </script>

</head>
<body>
    <h1>Event {{ entry.id }} </h1>
    <form class="entry-form" id="entry-form" action="{{ url_for('update', id=entry.id) }}" method="post" enctype="multipart/form-data">
        <div class="form-section">
            <label class="required">Date:</label>
            <input type="date" name="date" required value="{{ entry.date }}">
        </div>
        <div class="form-section">
            <label class="required"><a href="{{ url_for('categories') }}">Category:</a></label>
            <div class="category-group">
                {% for category in categories %}
                <label>
                    <input type="radio" name="category" value="{{ category.name }}" {% if entry.category.name == category.name %}checked{% endif %} required>
                    {{ category.symbol }} {{ category.name }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="form-section">
            <label class="required">Title:</label>
            <input type="text" name="title" required value="{{ entry.title }}">
        </div>
        <div class="form-section">
            <label>Description:</label>
            <input type="text" name="description" value="{{ entry.description|default('', true) }}">
        </div>
        <div class="form-section">
            <label>URL:</label>
            <input type="url" name="url" value="{{ entry.url|default('', true) }}">
        </div>
        <div class="form-section">
            <label>Image:</label>
            <input type="file" name="entryImage" accept="image/png, image/jpeg, image/gif">
        </div>
        <div class="form-section" id="giphySearchSection" style="display: none;"> <!-- Initially hidden -->
            <label>GIF:</label>
            <input type="text" id="giphySearchInput" placeholder="Search GIFs">
            <input type="hidden" id="hiddenGiphyUrl" name="giphyUrl">
            <div id="giphySearchResults"></div>
        </div>
        <!-- Conditional checkbox for removing the image -->
        {% if entry.image_filename %}
            Current Image: <img src="{{ url_for('uploaded_file', filename=entry.image_filename) }}" alt="Current Image"><br>
            Remove Image: <input type="checkbox" name="remove_image" value="1"> Remove current image<br>
        {% endif %}
        <input type="submit" value="Update Entry" class="submit-button create-button" id="submit-button">
    </form>
    <script src="{{ url_for('static', filename='admin/search_gifs_proxied.js') }}"></script>
</body>
</html>